<p id="notice"><%= notice %></p>

<h1>Webmarks</h1>

<table>
  <thead>
    <tr>
      <th>Url</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @webmarks.each do |webmark| %>
      <tr>
        <td><%= webmark.url %></td>
        <td><%= webmark.content %></td>
        <td><%= link_to 'Show', webmark %></td>
        <td><%= link_to 'Edit', edit_webmark_path(webmark) %></td>
        <td><%= link_to 'Destroy', webmark, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Webmark', new_webmark_path %>
