<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @webmark.url %>
</p>

<p>
  <strong>Content:</strong>
  <%= @webmark.content.html_safe %>
</p>

<%= link_to 'Back', root_path %>

<%= javascript_tag defer: 'defer' do -%>
(function() {
  'use strict';
  // Add target _blank to all a tags
  var atags = document.getElementsByTagName('a');
  _.forEach(atags, function(value, key) {
    value.setAttribute('target', '_blank')
  });
}());

<% end -%>
